@charset "UTF-8";

#ftok,
#context-path {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

#submit input[name=id] {
	margin-left: 5px;
	flex: 2;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 5px 10px;
	background: #ffffff;
	border-radius: 7px;
}

*::-moz-focus-inner {
  border: 0;
}

textarea,
input[type=text],
input[type=number],
input[type=email],
select {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border: #d3d3d3 1px solid;
	font-weight: 300;
}

textarea:focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
select:focus {
	border: #999999 1px solid;
	outline: none;
}

h1, h2, h3,
h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

#wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0px;
	left: 0px;
	background: linear-gradient(#59a554, #98d9e0);
	display: flex;
	align-items: center;
}

 .form-item {
 	padding-bottom: 2%;
 }
 
 .display-flex {
 	display: flex;
 }
 
 #submit textarea {
 	display: block;
 	width: 100%;
 	resize: none;
 	height: 125px;
 }

#container {
	min-width: 500px;
	margin: 0 auto;
	background: #f5f5f5;
	padding: 3% 2%;
	box-shadow: 1px 1px 2px #3b3b3b;
}

#submit input[type=submit] {
	width: 100%;
}

a {
	color: #1B994B;
	text-decoration: none;
}

a:hover, 
a:focus {
	color: #15783b;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

.buttonlink {
    cursor: pointer;
    display: inline-block;
    background: #1fab54;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    box-shadow: 0px 3px #0F552A;
    transition: box-shadow ease-in 0.1s;
    -webkit-transition: box-shadow ease-in 0.1s;
    -moz-transition: box-shadow ease-in 0.1s;
    -o-transition: box-shadow ease-in 0.1s;
    font-size: 14px;
}

.buttonlink:hover,
.buttonlink:focus {
    background: #1B994B;
    outline: none;
}

.buttonlink:active {
    box-shadow: 0px 1px #0F552A;
}